# Dataset for model implementation
#### - Data Cleaning 
#### - Variable selection for model 
#### - Input of dummy variables

In [1]:
import pandas as pd
import numpy as np

In [2]:
%cd ~/Master-IV/PROYECTO_FM/

/home/dsc/Master-IV/PROYECTO_FM

In [19]:
aibb = pd.read_csv('airbnb1.csv')
aibb.shape

(10073, 100)

In [20]:
# Selection of variables for Regression Model.
# New dataset
# We get rid of room type 'share room' to remove noise

aibb = aibb.drop(aibb[aibb.room_type=='Shared room'].index)
model = aibb[['availability_30','is_location_exact','zipcode','host_identity_verified',
              'bathrooms','bedrooms','beds','minimum_nights','maximum_nights','price','Price_Person_Night',
              'room_type','security_deposit','cleaning_fee','number_of_reviews','cancellation_policy','reviews_per_month','review_scores_rating',
               'review_scores_accuracy','review_scores_value','extra_people','guests_included','accommodates','host_is_superhost',
              'instant_bookable']]

In [21]:
# CANCELATION POLICY
# Super_strict_30 and 60 are reclassified  as strict 
model.cancellation_policy.value_counts()

strict             3879
moderate           3143
flexible           2886
super_strict_30       2
super_strict_60       2
Name: cancellation_policy, dtype: int64

In [22]:
model['cancellation_policy'] = model.cancellation_policy.astype(str)
model['cancellation_policy']= model.cancellation_policy.str.replace('super_strict_30','strict')
model['cancellation_policy']= model.cancellation_policy.str.replace('super_strict_60','strict')

/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [23]:
model.cancellation_policy.value_counts()

strict      3883
moderate    3143
flexible    2886
Name: cancellation_policy, dtype: int64

In [24]:
# Zipcode Nas replaced by 0
model.zipcode.isnull().sum()

325

In [25]:
model['zipcode'] = model.zipcode.replace(np.nan,0)
model.zipcode.value_counts()

/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

28012           1580
28004           1383
28005            918
28013            779
28014            528
28015            422
28045            350
0                325
28010            288
28008            218
28001            187
28028            185
28011            182
28009            161
28019            156
28006            152
28007            148
28020            142
28003            126
28039            112
28002            106
28027             89
28017             88
28025             87
28043             81
28029             80
28033             72
28042             69
28026             67
28053             60
                ...
28054             10
28040             10
28830              2
08015              1
28850              1
28052              1
28058              1
28056              1
10100              1
28224              1
                   1
28105              1
28730              1
28290              1
2804               1
29012              1
28660              1
28002\n28002       1
84084              1
27004              1
280013             1
28049              1
28048              1
28051\n28051       1
2015               1
27013              1
28094              1
2815               1
2802\n28012        1
28060              1
Name: zipcode, dtype: int64

In [26]:
# Correction of wrong values
model['zipcode'] = model.zipcode.replace('2802\n28012',28012)
model['zipcode'] = model.zipcode.replace('28051\n28051',28051)
model['zipcode'] = model.zipcode.replace('28002\n28002',28002)

/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [27]:
# Replacement of security deposit NaNs
model['security_deposit'] = model.security_deposit.replace(np.nan,0)
model.security_deposit.isnull().sum()

/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

0

In [28]:
# Extra people conversion to EUR
model['extra_people'] = model.extra_people.str.replace('$','')
model['extra_people'] = model.extra_people.astype(float)
model['extra_people'] = model.extra_people/ 1.0651

/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [29]:
# remove space from room type name so that R can perform Linear regression
model['room_type'] =model.room_type.str.replace('Entire home/apt','Entire_home/apt')
model.room_type.value_counts()

/home/dsc/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

Entire_home/apt    6269
Private room       3643
Name: room_type, dtype: int64

In [30]:
# Finally we replace NaNs for 0 

model = model.replace(np.nan,0)
model.isnull().sum()

availability_30           0
is_location_exact         0
zipcode                   0
host_identity_verified    0
bathrooms                 0
bedrooms                  0
beds                      0
minimum_nights            0
maximum_nights            0
price                     0
Price_Person_Night        0
room_type                 0
security_deposit          0
cleaning_fee              0
number_of_reviews         0
cancellation_policy       0
reviews_per_month         0
review_scores_rating      0
review_scores_accuracy    0
review_scores_value       0
extra_people              0
guests_included           0
accommodates              0
host_is_superhost         0
instant_bookable          0
dtype: int64

In [31]:
# File for Linear regression analysis in R
model.to_csv('model.csv')

In [32]:
# Creation of dummy varibales for host_identity_verified
model_host = pd.get_dummies(model['host_identity_verified'])
m = model.join(model_host)
m.rename(columns={'f':'Host_identity_NOTverified','t':'host_identity_verified'},inplace=True)
m.drop(['host_identity_verified'],axis =1,inplace=True)
m.head()

,availability_30,is_location_exact,zipcode,host_identity_verified,bathrooms,bedrooms,beds,minimum_nights,maximum_nights,price,...,review_scores_rating,review_scores_accuracy,review_scores_value,extra_people,guests_included,accommodates,host_is_superhost,instant_bookable,Host_identity_NOTverified,host_identity_verified
0,4,t,28005,t,2.0,1.0,2.0,2,30,44.7342,...,92.0,9.0,9.0,0.000000,2,2,f,t,0,1
1,0,t,28005,t,1.0,3.0,9.0,1,1125,143.7885,...,93.0,9.0,9.0,14.083185,6,10,f,t,0,1
2,4,t,28005,f,1.0,1.0,1.0,1,1125,86.2731,...,93.0,9.0,9.0,9.388790,2,2,t,t,1,0
3,1,f,28013,f,1.0,1.0,1.0,3,1125,45.7993,...,98.0,10.0,10.0,9.388790,1,2,t,f,1,0
4,7,t,28005,t,1.5,2.0,2.0,1,1125,53.2550,...,100.0,10.0,10.0,23.471974,2,4,f,f,0,1

In [33]:
# Creation of dummy variables for room type 
room = pd.get_dummies(m['room_type'])
m = m.join(room)
m.drop(['room_type'],axis =1,inplace=True)
m.head()

,availability_30,is_location_exact,zipcode,host_identity_verified,bathrooms,bedrooms,beds,minimum_nights,maximum_nights,price,...,review_scores_value,extra_people,guests_included,accommodates,host_is_superhost,instant_bookable,Host_identity_NOTverified,host_identity_verified,Entire_home/apt,Private room
0,4,t,28005,t,2.0,1.0,2.0,2,30,44.7342,...,9.0,0.000000,2,2,f,t,0,1,0,1
1,0,t,28005,t,1.0,3.0,9.0,1,1125,143.7885,...,9.0,14.083185,6,10,f,t,0,1,1,0
2,4,t,28005,f,1.0,1.0,1.0,1,1125,86.2731,...,9.0,9.388790,2,2,t,t,1,0,1,0
3,1,f,28013,f,1.0,1.0,1.0,3,1125,45.7993,...,10.0,9.388790,1,2,t,f,1,0,0,1
4,7,t,28005,t,1.5,2.0,2.0,1,1125,53.2550,...,10.0,23.471974,2,4,f,f,0,1,1,0

In [34]:
# One hot encoding
# Creation of dummy variables for cancellation policy
cancel = pd.get_dummies(model['cancellation_policy'])
m = m.join(cancel)
m.rename(columns={'flexible':'Cancel_policy_FLEXIBLE','moderate':'Cancel_policy_MODERATE','strict':'Cancel_policy_STRICT'},inplace=True)
m.drop(['cancellation_policy'],axis =1,inplace=True)
m.head()

,availability_30,is_location_exact,zipcode,host_identity_verified,bathrooms,bedrooms,beds,minimum_nights,maximum_nights,price,...,accommodates,host_is_superhost,instant_bookable,Host_identity_NOTverified,host_identity_verified,Entire_home/apt,Private room,Cancel_policy_FLEXIBLE,Cancel_policy_MODERATE,Cancel_policy_STRICT
0,4,t,28005,t,2.0,1.0,2.0,2,30,44.7342,...,2,f,t,0,1,0,1,0,1,0
1,0,t,28005,t,1.0,3.0,9.0,1,1125,143.7885,...,10,f,t,0,1,1,0,0,1,0
2,4,t,28005,f,1.0,1.0,1.0,1,1125,86.2731,...,2,t,t,1,0,1,0,0,0,1
3,1,f,28013,f,1.0,1.0,1.0,3,1125,45.7993,...,2,t,f,1,0,0,1,0,0,1
4,7,t,28005,t,1.5,2.0,2.0,1,1125,53.2550,...,4,f,f,0,1,1,0,0,0,1

In [35]:
# Dummy for 'superhost'
super = pd.get_dummies(model['host_is_superhost'])
m = m.join(super)
m.rename(columns={'f':'NO_superhost','t':'YES_superhost'},inplace=True)
m.drop(['host_is_superhost'],axis =1,inplace=True)
m.head()

,availability_30,is_location_exact,zipcode,host_identity_verified,bathrooms,bedrooms,beds,minimum_nights,maximum_nights,price,...,instant_bookable,Host_identity_NOTverified,host_identity_verified,Entire_home/apt,Private room,Cancel_policy_FLEXIBLE,Cancel_policy_MODERATE,Cancel_policy_STRICT,NO_superhost,YES_superhost
0,4,t,28005,t,2.0,1.0,2.0,2,30,44.7342,...,t,0,1,0,1,0,1,0,1,0
1,0,t,28005,t,1.0,3.0,9.0,1,1125,143.7885,...,t,0,1,1,0,0,1,0,1,0
2,4,t,28005,f,1.0,1.0,1.0,1,1125,86.2731,...,t,1,0,1,0,0,0,1,0,1
3,1,f,28013,f,1.0,1.0,1.0,3,1125,45.7993,...,f,1,0,0,1,0,0,1,0,1
4,7,t,28005,t,1.5,2.0,2.0,1,1125,53.2550,...,f,0,1,1,0,0,0,1,1,0

In [36]:
# Dummy for 'instant bookable'
instant = pd.get_dummies(model['instant_bookable'])
m = m.join(instant)
m.rename(columns={'f':'NO_instant_book','t':'YES_instant_book'},inplace=True)
m.drop(['instant_bookable'],axis =1,inplace=True)
m.head()

,availability_30,is_location_exact,zipcode,host_identity_verified,bathrooms,bedrooms,beds,minimum_nights,maximum_nights,price,...,host_identity_verified,Entire_home/apt,Private room,Cancel_policy_FLEXIBLE,Cancel_policy_MODERATE,Cancel_policy_STRICT,NO_superhost,YES_superhost,NO_instant_book,YES_instant_book
0,4,t,28005,t,2.0,1.0,2.0,2,30,44.7342,...,1,0,1,0,1,0,1,0,0,1
1,0,t,28005,t,1.0,3.0,9.0,1,1125,143.7885,...,1,1,0,0,1,0,1,0,0,1
2,4,t,28005,f,1.0,1.0,1.0,1,1125,86.2731,...,0,1,0,0,0,1,0,1,0,1
3,1,f,28013,f,1.0,1.0,1.0,3,1125,45.7993,...,0,0,1,0,0,1,0,1,1,0
4,7,t,28005,t,1.5,2.0,2.0,1,1125,53.2550,...,1,1,0,0,0,1,1,0,1,0

In [37]:
# Creation of dummy variables for 'location is exact'
loc = pd.get_dummies(m['is_location_exact'])
m = m.join(loc)
m.rename(columns={'f':'NO_location_exact','t':'YES_location_exact'},inplace=True)
m.drop(['is_location_exact'],axis =1,inplace=True)
m.head()

,availability_30,is_location_exact,zipcode,host_identity_verified,bathrooms,bedrooms,beds,minimum_nights,maximum_nights,price,...,Private room,Cancel_policy_FLEXIBLE,Cancel_policy_MODERATE,Cancel_policy_STRICT,NO_superhost,YES_superhost,NO_instant_book,YES_instant_book,NO_location_exact,YES_location_exact
0,4,t,28005,t,2.0,1.0,2.0,2,30,44.7342,...,1,0,1,0,1,0,0,1,0,1
1,0,t,28005,t,1.0,3.0,9.0,1,1125,143.7885,...,0,0,1,0,1,0,0,1,0,1
2,4,t,28005,f,1.0,1.0,1.0,1,1125,86.2731,...,0,0,0,1,0,1,0,1,0,1
3,1,f,28013,f,1.0,1.0,1.0,3,1125,45.7993,...,1,0,0,1,0,1,1,0,1,0
4,7,t,28005,t,1.5,2.0,2.0,1,1125,53.2550,...,0,0,0,1,1,0,1,0,0,1

In [38]:
m.columns

Index([u'availability_30', u'is_location_exact', u'zipcode',
       u'host_identity_verified', u'bathrooms', u'bedrooms', u'beds',
       u'minimum_nights', u'maximum_nights', u'price', u'Price_Person_Night',
       u'room_type', u'security_deposit', u'cleaning_fee',
       u'number_of_reviews', u'cancellation_policy', u'reviews_per_month',
       u'review_scores_rating', u'review_scores_accuracy',
       u'review_scores_value', u'extra_people', u'guests_included',
       u'accommodates', u'host_is_superhost', u'instant_bookable',
       u'Host_identity_NOTverified', u'host_identity_verified',
       u'Entire_home/apt', u'Private room', u'Cancel_policy_FLEXIBLE',
       u'Cancel_policy_MODERATE', u'Cancel_policy_STRICT', u'NO_superhost',
       u'YES_superhost', u'NO_instant_book', u'YES_instant_book',
       u'NO_location_exact', u'YES_location_exact'],
      dtype='object')

In [81]:
m.to_csv('model_dummies.csv')